.header {
    font-family: -apple-system;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.header .header__title{
    font-size: 26px;
    font-weight: 700;
    font-family: -apple-system;
}

.header .header__icon{
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.header .header__header-column{
    display: flex;
    align-items: center;
}

.header .header__back-btn{
    font-size: 24px;
    margin-right: 20px;
}


.header .header__icon:hover {
    color: rgb(99, 218, 127);
}

.header__header-column .left:hover{
    color: rgb(99, 218, 127);
}

.header__header-column .left{
    transition: 0.2s ease-in-out;
}