.nav{
    position: fixed;
    width: 100%;
    background-color: #fcfcfc;
    padding: 20px 50px;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid #f7f7f7;
}

.nav .nav__list{
    display: flex;
    justify-content: space-between;
}

.nav i{
    font-size: 20px;
    transition: all 0.2s ease-in-out;
}

.nav .nav__list-link{
    position: relative;
}

.nav .nav__badge{
    position: absolute;
    top: -11px;
    right: -7px;
    color: white;
    background-color: #dc5d46;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 11px;
    z-index: 999;
    animation: badgemove 2s ease-in-out infinite;
}

@keyframes badgemove {
    from{
        transform: rotate(1turn);
    }
    to{
        transform: rotate(-1turn);
    }
}

@keyframes showNavBar {
    from{
        transform: translateY(80px);
    }
    to{
        transform: none;
    }
}

.nav{
    transform: translateY(80px);
    animation: showNavBar 0.5s ease-in-out forwards;
    animation-delay: 0.2s;
}

.nav__list-item i:hover {
    transform: scale(1.2);
    color: rgb(99, 218, 127);
}